@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap");

:root {
  --c1: #121212;
  --c2: #1f1f1f;
  --c3: #494949;
  --c4: #e0e0e0;

  --c-primary: #8b5cf6;
  --c-secondary: #796a9b;

  /* Tipografia */
  --f-default: "Roboto";
  --f-decoration: "Crimson Pro";

  --t-small: 0.75rem; /* 12px */
  --t-caption: 0.875rem; /* 14px */
  --t-body: 1rem; /* 16px */
  --t-h3: 1.25rem; /* 20px */
  --t-h2: 1.5rem; /* 24px */
  --t-h1: 2rem; /* 32px */
  --t-display: 2.5rem; /* 40px */

  /* Espaçamentos */
  --s1: 0.25rem; /* 4px */
  --s2: 0.5rem; /* 8px */
  --s3: 1rem; /* 16px */
  --s4: 1.5rem; /* 24px */
  --s5: 2rem; /* 32px */
  --s6: 3rem; /* 48px */
  --s7: 4rem; /* 64px */
  --s8: 5rem; /* 80px */
}

* {
  margin: 0;
  padding: 0;

  color: #e0e0e0;
  font-family: var(--f-default);

  box-sizing: border-box;

  transition: all 0.3s;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--c2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--c3);
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--c1);

  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: var(--c1);
  border-radius: 4px;
}

button {
  display: flex;

  background: none;
  border: none;

  cursor: pointer;

  transition: all 0.3s;

  & span {
    color: inherit;
  }
}

abbr {
  text-decoration: none;
}

select {
  border: none;
  border-radius: 0;
  outline: none;
}

input,
textarea {
  background: none;
  border: none;
  outline: none;

  resize: none;

  color: var(--c4);
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: #000;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
