@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Elite&display=swap");

:root {
  --color1: #121212;
  --color2: #1f1f1f;
  --color3: #494949;
  --color4: #e0e0e0;

  /* Tipografia */
  --font-default: "Inter";
  --font-decoration: "Special Elite";

  --text-small: 0.75rem; /* 12px */
  --text-caption: 0.875rem; /* 14px */
  --text-body: 1rem; /* 16px */
  --text-h3: 1.25rem; /* 20px */
  --text-h2: 1.5rem; /* 24px */
  --text-h1: 2rem; /* 32px */
  --text-display: 2.5rem; /* 40px */

  /* Espaçamentos */
  --s1: 0.25rem; /* 4px */
  --s2: 0.5rem; /* 8px */
  --s3: 1rem; /* 16px */
  --s4: 1.5rem; /* 24px */
  --s5: 2rem; /* 32px */
  --s6: 3rem; /* 48px */
  --s7: 4rem; /* 64px */
}

* {
  margin: 0;
  padding: 0;

  color: #e0e0e0;
  font-family: var(--font-default);

  box-sizing: border-box;

  transition: all 0.3s;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--color2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color3);
  border-radius: 5px;
  border: 3px solid var(--color1);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: var(--color1);
  border-radius: 5px;
}

button {
  display: flex;

  background: none;
  border: none;

  cursor: pointer;

  transition: all 0.3s;

  & span {
    color: inherit;
  }
}

abbr {
  text-decoration: none;
}

select {
  border: none;
  border-radius: 0;
  outline: none;
}

input,
textarea {
  background: none;
  border: none;
  outline: none;

  resize: none;

  color: var(--cor04);
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: #000;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
