#rules-page {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  flex: 1;

  padding: var(--s5);

  background-color: var(--color1);
  background: url(../../../public/assets/bg/backgound-grunge.jpg);
  background-position: center;
  background-size: cover;

  & h1 {
    text-align: center;

    & span {
      font-size: var(--s3);
    }
  }

  & h2 {
    font-weight: lighter;
    text-transform: uppercase;
  }

  & details {
    display: flex;
    flex-direction: column;

    & summary {
      padding: var(--s2) var(--s2) var(--s2) 0;
      font-size: var(--s4);
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: var(--s3);
      margin: var(--s3) 0;
      padding: var(--s1);

      & h3 {
        margin-bottom: var(--s1);
        padding: var(--s2);

        background-color: #4141413b;
      }

      & p {
        & span {
          font-weight: 600;
          font-size: var(--s3);
        }
      }
    }
  }

  & p {
    font-size: var(--s3);
    line-height: var(--s5);
  }

  & > span {
    text-align: center;
    font-weight: 800;
  }
}
