.list-player-screen {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: var(--s5);

  height: 100%;
  padding: var(--s2);

  background-color: var(--color1);

  & button {
    width: fit-content;
    margin-left: auto;
    padding: var(--s2);

    background-color: var(--color1);
    border: 2px dashed var(--color3);
    border-radius: var(--s1);

    color: var(--color3);

    & span {
      color: inherit;
    }

    &:hover {
      background-color: var(--color2);
      border: 2px dashed var(--color4);
      color: #ffffff;
    }
  }
}
