.profile-card {
  display: flex;
  gap: var(--s2);

  width: 100%;

  padding: var(--s2);

  background-color: var(--c2);
  box-shadow: 2px 2px 8px var(--c2);
  border: 1px solid var(--c3);
  border-radius: 2px;

  cursor: pointer;

  @media screen and (min-width: 782px) {
    max-width: 350px;
  }

  &:hover {
    border-color: var(--c-primary);
  }

  & img {
    height: var(--s8);

    border-radius: 2px;
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: var(--s2);

    width: 100%;

    & h2 {
      font-size: var(--t-body);
      font-weight: 400;
    }

    & p {
      font-size: var(--t-caption);
      font-weight: 400;
    }

    & span {
      margin-top: auto;
      margin-left: auto;

      color: var(--c-primary);
      font-size: var(--t-small);
      font-weight: 400;
    }
  }
}
