.home-screen {
  display: flex;
  flex-direction: column;

  gap: var(--s2);

  height: 100%;
  padding: var(--s2);

  & nav {
    display: flex;
    gap: var(--s2);

    padding: var(--s2);

    background-color: var(--color1);
    border: 1px solid var(--color2);

    & button {
      justify-content: center;
      align-items: center;
      gap: var(--s2);
      flex: 1;

      padding: var(--s2);

      border: 1px solid transparent;

      &:focus {
        background-color: var(--color2);
        border: 1px solid var(--color3);
      }

      & span {
        font-size: var(--s3);
        letter-spacing: 1px;
      }
    }
  }
}
