.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: var(--s5);

  background-color: var(--color2);
  border-bottom: 2px solid var(--color3);

  & > button:nth-child(1) {
    display: flex;
    align-items: flex-end;
    gap: var(--s1);

    font-weight: 700;
    text-shadow: 1px 1px 1px black;

    & > span {
      font-size: var(--s4);
    }

    & > p {
      font-size: var(--s3);
    }
  }

  & div {
    display: flex;
    gap: var(--s5);
  }
}
