.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: var(--s5);

  background: linear-gradient(to bottom, black, #00000000);

  & img {
    width: var(--s7);

    filter: grayscale(100%) invert(100%);
  }

  & div {
    display: flex;
    gap: var(--s5);
  }
}
