.main-header {
  display: flex;
  align-items: center;

  width: 100%;
  padding: var(--s4);

  background: var(--c1);
  border-bottom: 1px solid var(--c3);

  & img {
    width: var(--4);

    filter: grayscale(100%) invert(100%);
  }

  & div {
    display: flex;
    gap: var(--s4);
  }
}
